.container-title {
  @include text($weight: 600, $size: 52px, $line-height: 48px, $color: $white);
  max-width: 386px;

  @include mobileStyles {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.3px;
  }
}
