.standard-btn {
  @include text($weight: 500, $size: 18px, $line-height: 31px, $text-align: center, $color: $dark-blue, $letter-spacing: 0.3px);
  width: 163px;
  height: 55px;
  border-radius: 0px;
  background-color: $yellow;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;

  &:hover {
    border: 2px solid $dark-blue;
    box-sizing: border-box;
    border-radius: 10px;
  }
}

