@mixin flex($align-items: normal, $justify: space-between, $direction: row, $align-content: normal){
    display: flex;
    align-items: $align-items;
    justify-content: $justify;
    flex-direction: $direction;
    align-content:  $align-content;

    // можно писать if else
}

@mixin text($weight: 600, $size: 30px, $line-height: 30px, $text-align: start, $uppercase : none, $color: $white, $letter-spacing: normal){

font-weight: $weight;
font-size:  $size;
line-height: $line-height;
text-align: $text-align;
text-transform: $uppercase;
color: $color;
letter-spacing: $letter-spacing;
  padding: 0;
  margin: 0;
}

@mixin tabletStyles {
    @media screen and (max-width: 1280px) {
        @content;
    }
}

@mixin mobileStyles {
  @media screen and (max-width: 767px) {
    @content;
  }
}
