$light-purple: #9960f6;
$dark-purple: #8556f8;
$light-green: #cef564;
$dark-green: #016450;
$yellow: #ffdb00;
$white: #ffffff;
$dark-blue: #1e3264;

$font-family: "Inter", "Arial", sans-serif;
$margin-center: 0 auto;
