$light-purple: #9960F6;
$dark-purple: #8556F8;
$light-green: #CEF564;
$dark-green: #016450;
$yellow: #FFDB00;
$white: #FFFFFF;
$dark-blue: #1E3264;

$font-family: 'Inter', 'Arial', sans-serif;
$margin-center: 0 auto;

