$primary-color: #9960F6;
$secondary-color: #8556F8;
$third-color: #CEF564;
$forth-color: #016450;
$yellow: #FFDB00;
$white: #FFFFFF;

$font-family: 'Inter', 'Arial', sans-serif;
$margin-center: 0 auto;

