.page {
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  background-color: #FFFFFF;
  max-width: 1440px;
  min-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header {
  background-color: #9960F6;
  position: relative;
  overflow: hidden;
}
.header__text {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: start;
  text-transform: uppercase;
  color: #FFDB00;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
  max-width: calc(100% - 50px * 2);
  padding: 40px 50px;
}
.header__round {
  position: absolute;
  width: 565px;
  height: 565px;
  border-radius: 50%;
  background: #3530FF;
  border: 3px solid #016450;
  box-sizing: border-box;
  left: 1035px;
  top: -160px;
  opacity: 0.2;
}
.header__logo {
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 1;
}
.header__flex-container {
  display: flex;
  align-items: normal;
  justify-content: space-between;
  flex-direction: row;
  align-content: normal;
  width: calc(100% - 50px * 2);
  margin: 0 50px;
}
.header__pic-container {
  position: relative;
  max-height: 600px;
}
.header__limo-pic {
  width: 100%;
}
.header__sticker {
  background-image: url(../../../images/pineapple.png);
  width: 149px;
  height: 146px;
  position: absolute;
  bottom: -36.36px;
  right: -36.36px;
}
.header__text-container {
  z-index: 1;
  display: flex;
  align-items: normal;
  justify-content: space-between;
  flex-direction: column;
  align-content: normal;
  margin-top: 278px;
}
.header__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: start;
  text-transform: none;
  color: #FFFFFF;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
  max-width: 457px;
}

.standard-btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  text-transform: none;
  color: #1E3264;
  letter-spacing: 0.3px;
  padding: 0;
  margin: 0;
  width: 163px;
  height: 55px;
  border-radius: 0px;
  background-color: #FFDB00;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
}
.standard-btn:hover {
  border: 2px solid #1E3264;
  box-sizing: border-box;
  border-radius: 10px;
}

.standard-btn_type_inquiry {
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  text-transform: none;
  color: #FFFFFF;
  letter-spacing: 0.3px;
  padding: 0;
  margin: 0;
  background-color: #9960F6;
}
.standard-btn_type_inquiry:hover {
  border: 2px solid #E1FD2C;
}

.text-line {
  background-color: #CEF564;
  position: relative;
  white-space: nowrap;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #016450;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
  margin: 50px 0 0 0;
  width: 120%;
  left: -16px;
  padding: 20px 0;
}

.container-title {
  font-weight: 600;
  font-size: 52px;
  line-height: 48px;
  text-align: start;
  text-transform: none;
  color: #FFFFFF;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
  max-width: 386px;
}

.container-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  text-align: start;
  text-transform: none;
  color: #FFFFFF;
  letter-spacing: 0.3px;
  padding: 0;
  margin: 0;
  opacity: 0.8;
  max-width: 386px;
  margin-top: 30px;
}

.process {
  background-color: #FFFFFF;
}
.process__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  text-transform: none;
  color: #1E3264;
  letter-spacing: 0.5px;
  padding: 0;
  margin: 0;
  padding: 120px 0;
}
.process__container {
  width: calc(100% - 50px * 2);
  margin: 0 50px;
  background-color: #9960F6;
  box-sizing: border-box;
  padding: 90px 100px;
}
.process__flex {
  display: flex;
  align-items: normal;
  justify-content: space-between;
  flex-direction: row;
  align-content: normal;
}
.process__nav-container {
  background-color: #8556F8;
  width: calc(100% - 50px * 2);
  margin: 0 50px;
  box-sizing: border-box;
  padding: 90px 100px;
  position: relative;
}
.process__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 50.4px;
  text-align: start;
  text-transform: none;
  color: #FFFFFF;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
}
.process__list-item {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  min-width: 255px;
  margin-top: 30px;
}
.process__list-item:first-child {
  margin-top: 0;
}

.decorative-element_type_light {
  position: absolute;
  width: 185px;
  height: 185px;
  border-radius: 50%;
  background: #E1FD2C;
  border: 3px solid #016450;
  box-sizing: border-box;
  top: 123px;
  left: 622px;
}

.decorative-element_type_dark {
  position: absolute;
  width: 138px;
  height: 138px;
  border-radius: 50%;
  background: #FFDB00;
  border: 3px solid #1E3264;
  box-sizing: border-box;
  top: 321px;
  left: 721px;
}

.samples {
  position: relative;
}
.samples__flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: normal;
  max-height: 580px;
}
.samples__main-title {
  font-weight: 500;
  font-size: 60px;
  line-height: 67px;
  text-align: start;
  text-transform: none;
  color: #1E3264;
  letter-spacing: 0.3px;
  padding: 0;
  margin: 0;
  max-width: 460px;
}
.samples__mango-pic {
  margin-top: 70px;
  z-index: -1;
  align-self: flex-start;
}
.samples__sticker {
  background-image: url(../../../images/mango.png);
  background-position: center;
  width: 172px;
  height: 172px;
  position: absolute;
  top: 100px;
  left: 710px;
}
.samples__tastes {
  background-color: #CEF564;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  align-content: normal;
  min-height: 664px;
}
.samples__text-area {
  max-width: 457px;
}
.samples__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 65px;
  text-align: start;
  text-transform: none;
  color: #1E3264;
  letter-spacing: 0.3px;
  padding: 0;
  margin: 0;
}
.samples__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: start;
  text-transform: none;
  color: #1E3264;
  letter-spacing: 0.3px;
  padding: 0;
  margin: 0;
  margin-top: 48px;
}
.samples__form {
  background-color: #016450;
  border-radius: 0px;
}
.samples__form-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: start;
  text-transform: none;
  color: #FFFFFF;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
  padding-top: 24px;
  padding-left: 30px;
}

.footer {
  display: flex;
  align-items: normal;
  justify-content: space-between;
  flex-direction: row;
  align-content: normal;
  background-color: #8556F8;
}
.footer__logo {
  padding: 100px 0 100px 150px;
}
.footer__container {
  padding: 100px 395px 0 0;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: -webkit-min-content -webkit-min-content;
  grid-template-columns: min-content min-content;
}
.footer__contacts {
  padding: 0 0 0 145px;
}
.footer__title {
  font-weight: 500;
  font-size: 23px;
  line-height: 33px;
  text-align: start;
  text-transform: none;
  color: #FFFFFF;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
  padding: 0 0 20px 0;
}
.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer__list-item {
  padding: 3px 0 0 0;
}
.footer__list-item:first-child {
  padding: 0;
}
.footer__link {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  text-align: start;
  text-transform: none;
  color: #FFFFFF;
  letter-spacing: 0.3px;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.footer__link:hover {
  opacity: 0.7;
}
.footer__email {
  font-size: 16px;
}
.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  text-align: start;
  text-transform: none;
  color: #FFFFFF;
  letter-spacing: 0.3px;
  padding: 0;
  margin: 0;
  padding: 142px 0 100px 0;
  grid-column: 1/3;
  grid-row: 2;
}/*# sourceMappingURL=index.css.map */