.decorative-element_type_light {
  @include decorate-round();
  top: 123px;
  left: 622px;

  @include tablet-styles {
    top: 240px;
    left: 423px;
  }

  @include mobile-styles {
    display: none;
  }
}
